<% authorize %>

<div id="big-box" class="row m-0 p-0 bg-dark">

  <%= render "room_list" %>


  <div id="chat-box" class="col-12 col-sm-7 col-md-8 col-xl-10 m-0 p-2 bg-dark pt-5 pt-sm-0">

    <div id="chat-box-inner" class="row m-0 p-2 border border-light">

      <!-- ROOM TITLE FIXED -->

        <%= render "messages" %>

    </div>

    <div id="chat-box-input" class="row m-0 p-2 border border-light">

      <%= render "chat_input" %>

    </div>

  </div>

</div>
